<div class="box column" [formGroup]="form">
  <h2 class="title has-text-centered">Register</h2>

  <div class="field">
    <label class="label">*Full Name:</label>
    <div class="control">
      <input class="input" type="text" formControlName="fullName">
      <span *ngIf="fullName && fullName.invalid && fullName.touched" class="help is-danger">This field must include
        at
        least 5 characters</span>
    </div>
  </div>

  <div class="field">
    <label class="label">*Email:</label>
    <div class="control">
      <input class="input" type="text" formControlName="email">
      <span *ngIf="email && email.invalid && email.touched" class="help is-danger">Invaild email</span>

    </div>
  </div>

  <div class="field">
    <label class="label">*Phone:</label>
    <div class="control">
      <input class="input" type="tel" formControlName="phone">
      <span *ngIf="phone && phone.invalid && phone.touched" class="help is-danger">Invaild phone</span>

    </div>

  </div>

  <div class="field">
    <label class="label">*Password:</label>
    <div class="control">
      <input class="input" type="password" formControlName="password">
      <span *ngIf="password && password.invalid && password.touched" class="help is-danger">Password must contain at
        least 8
        characters, including at least one upper-case letter, a lower-case letter, four numbers and on a special sign
        (!@#$%^&*-_*)</span>
    </div>

  </div>

  <div class="field">
    <label class="label">Image:</label>
    <div class="control">
      <div class="file">
        <label class="file-label">
          <input class="file-input" type="file" (change)="handleFileUpload($event)" multiple="false">
          <span class="file-cta">
            <span class="file-label">
              Choose a file…
            </span>
          </span>
        </label>
      </div>
      <div *ngIf="imagePath">
        <img [src]="'http://localhost:3000' + imagePath" [alt]="form.value.name" />

      </div>
    </div>
  </div>


  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" formControlName="isArtist">
        Register as an artist
      </label>
    </div>
  </div>

  <span class="help is-danger" id="errorField" style="display:none;">{{errorMessage}}</span>

  <div class="field">
    <div class="control">
      <button class="button is-link is-fullwidth" [disabled]="!form.valid" (click)="register()">Submit</button>
    </div>
  </div>

  <div class="field is-grouped columns">
    <div class="control column">
      <p>Already have an account?</p>
    </div>
    <div class="control column is-one-quarter">
      <button class="button is-danger is-light" routerLink="login">Login</button>
    </div>
  </div>
</div>
