.container{
    margin-top: 3%;
    .column{
        box-shadow: none;

            .card-image{
                width: 20vw;
                height: auto;
                margin: 0 auto;
            }
            .title{
                margin-top: 5%;
            }
        
    }
}