<form class="frame" [formGroup]="form" *ngIf="allowedToReset">
  <h2>Reset your password</h2>

  <div class="field">
    <label>*Password:</label>
    <input type="password" formControlName="password">
    <span *ngIf="password && password.invalid && password.touched">Invaild password</span>
  </div>

  <div class="field">
    <label>*Confirm password</label>
    <input type="password" formControlName="confirmPassword">
    <div *ngIf="passwordMatchError">
      Password does not match
    </div>
  </div>

  <div class="field">
    <button [disabled]="!form.valid" (click)="onSubmit()">Change password</button>
  </div>
</form>

<div *ngIf="!allowedToReset">
  <span>Can not reset password</span>
</div>

<div *ngIf="resetReqSucceeded === false">
  <span>Failed to reset password</span>
</div>
