<footer class="footer">
  <div class="container has-text-centered">
    <div class="columns is-mobile is-multilines">

      <div class="column is-half-mobile is-two-third-desktop" *ngIf="utility.isLoggedIn$ | async">
        <h6 class="title is-5">Quick links</h6>
        <ul>
          <li><a routerLink="main">Products</a></li>
          <li><a routerLink="main/about">About</a></li>
          <li><a routerLink="main/my-products">My products</a></li>
          <li><a routerLink="main/my-favourites">My favourites</a></li>
        </ul>
      </div>

      <div class="column is-half-mobile is-two-third-desktop">
        <h6 class="title is-5">Follow us</h6>
        <ul>
          <li><a><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
          <li><a><i class="fab fa-fw fa-instagram"></i> Instagram</a></li>
          <li><a><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
          <li><a><i class="fab fa-fw fa-youtube"></i> Youtube</a></li>
          <li><a><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>

      <div class="column is-half-mobile is-two-third-desktop">
        <h6 class="title is-5">Our location</h6>
        <address>
          <strong>My Arts</strong><br>
          Street Name <br>
          ZIP code and city <br>
          <i class="fas fa-fw fa-phone"></i><a href="tel:+123456789"> (123) 456 789</a><br>
          <i class="fas fa-fw fa-envelope"></i><a href="mailto:myarts@gmail.com"> myarts@gmail.com</a><br><br>
        </address>
      </div>

    </div>

    <p class="has-text-centered">
      <img src="assets/MyArtsLogo.png" alt="MyArtsLogo" style="width:2vw">
      &copy; 2023 My Arts. All rights reserved.
    </p>

  </div>
</footer>
